<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div id="ok">
	<form method="post" name="loginfrm" action="loginFace" enctype = "multipart/form-data">
	<ul>
		<li class="img">
			<div id="image_preview">
				<img src="/img.png" alt="사진영역"  style="width:400px; height:500px;">
			</div>
        	<div class="f_box">
        		<input type = "file" name = "files" multiple = "multiple"/>
            	<input type ="submit" value="로그인하기"/>
       	</div>
    	</li>
	</ul>
</form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

                       <script>
                            // 이미지 업로드
                            $('#img').on('change', function() {
                            ext = $(this).val().split('.').pop().toLowerCase(); //확장자
                            //배열에 추출한 확장자가 존재하는지 체크
                            if($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
                                resetFormElement($(this)); //폼 초기화
                                window.alert('이미지 파일이 아닙니다! (gif, png, jpg, jpeg 만 업로드 가능)');
                            } else {
                            	var src = ('#img').attr("src");
                            	$('#imgsrc_1').val(src);
                                file = $('#img').prop("files")[0];
                                blobURL = window.URL.createObjectURL(file);
                                $('#image_preview img').attr('src', blobURL);
                                $('#image_preview').slideDown(); //업로드한 이미지 미리보기 
                                
                                
                                $(this).slideUp(); //파일 양식 감춤
                            }
                            });
 </script>
</body>
</html>