<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "=//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.SpringFramework.mapper.MemberMapper"> 
	<resultMap id="MemberMap" type="com.SpringFramework.domain.UserVO">
		<result column="user_id" property="user_id"></result>
		<result column="user_pw" property="user_pw"></result>
		<result column="email" property="email"></result>
		<result column="user_name" property="user_name"></result>
		<result column="phonenum1" property="phonenum1"></result>
		<result column="phonenum2" property="phonenum2"></result>
		<result column="phonenum3" property="phonenum3"></result>
	</resultMap>
	
	<select id="MemberLogin" resultType = "int">
		SELECT COUNT(*) FROM member_info where user_id = #{user_id} and user_pw = #{user_pw}
	</select>
	
	<insert id="MemberRegister">
		INSERT INTO member_info (user_id,user_pw,email,user_name,phonenum1,phonenum2,phonenum3)
		VALUES (#{user_id}, #{user_pw},#{email}, #{user_name},#{phonenum1},#{phonenum2},#{phonenum3})
	</insert>
	
	<select id="getMemberInfo" resultMap="MemberMap">
		SELECT * FROM member_info where user_id = #{user_id} 
	</select>
	
	
	
	
</mapper>